* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #161b1d;
}

nav {
    background-color: #72afcd;
    border-bottom: 2px solid #85a8c5;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

nav h1 {
    color: white;
    font-size: 22px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

nav ul a:hover {
    color: #1d66bade;
}

#about {
    padding: 90px 20px;
    max-width: 800px;
    margin: 0 auto;
}

.home-photo img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

#about h2 {
    font-size: 28px;
    margin-bottom: 15px;
    color: #0a0a0a;
}

#about p {
    font-size: 15px;
    line-height: 1.8;
    color: #555;
    margin-bottom: 15px;
}
.about-grid{
    display: flex;
    align-items: flex-start;
    gap: 30px;
}
button {
    background-color: #b3d9ec;
    color:#0a0a0a;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 80px;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #72afcd;
}
.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15px;
}

.skills span {
    background-color: #3498db;
    color: white;
    padding: 5px 12px;
    border-radius: 4px;
    font-size: 13px;
}

#projects {
    background-color:  #f3f3f3;
    padding: 50px 20px;
}

#projects h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
    color: #0a0a0a;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 700px;
    margin: 0 auto;
}

.project-card {
    background-color: #e2e8ec;
    padding: 20px;
    border-radius: 6px;
    width: 48%;
    box-shadow: 0 2px 5px #0000001a;
}

.project-card h3 {
    font-size: 18px;
    margin-bottom: 8px;
    color: #2c3e50;
}

.project-card p {
    font-size: 14px;
    color: #1f1f22;
    line-height: 1.6;
}

#calendar {
    padding: 50px 20px;
    max-width: 700px;
    margin: 0 auto;
}

#calendar h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #053062;
    border-bottom: 2px solid #3e2d5a;
}

.calendar-box {
    background-color: rgb(217, 221, 226);
    border: 1px solid #ddd;
    border-radius: 6px;
    overflow: hidden;
}

.cal-top {
    background-color:#72afcd;
     border-bottom: 2px solid #5780a0;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 15px;
}

.cal-top h3 {
    font-size: 16px;
}

.cal-top button {
    background: none;
    border: 1px solid white;
    color: white;
    padding: 3px 10px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 16px;
}

.cal-top button:hover {
    background-color: #2d445a;
}

.day-names {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: #2d445a;
    color: white;
    text-align: center;
    padding: 8px 0;
}

.day-names span {
    font-size: 12px;
    font-weight: bold;
    color: white;
}

.days-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 10px;
    gap: 8px;
    min-height: 350px;
}

.days-grid div {
    text-align: center;
    padding: 20px 5px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.days-grid div:hover {
    background-color: #76b5d471;
}

.days-grid div.today {
    background-color:#72afcd; 
    color: #0a0a0a;
    font-weight: bold;
}

.days-grid div.empty {
    color: #d7d7d8;
}

#contact {
    padding: 50px 20px;
    max-width: 600px;
    margin: 0 auto;
}

#contact h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #0a0a0a;
}

#contact p {
    font-size: 15px;
    color: #555;
    margin-bottom: 8px;
}

/* Form */
#form{
     display: flex;
    flex-direction: column;
    align-items:center;
    padding:40px 20px;
}
#form h2{
    margin-bottom:20px;
    font-size:28px;
}

.myform{
    padding:25px;
    width:100%;
    max-width: 400px;
    border-radius: 8px ;
    box-shadow: 0px 4px 10px gray;
}
.input{
    margin-bottom: 15px;
}
.input label{
    display: block;
    margin-bottom: 5px; 
    font-size: 14px;
    font-weight: bold;
}

.input input, 
.input textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    border-radius: 5px;
    outline: none;
}
.input input:focus,
.input textarea:focus {
    border-color: #afc6d4
}
#submitBtn:hover{
    background-color:#72afcd;
    color: white;
}
#submitBtn{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #87c0dad8;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

footer {
    background-color: #72afcd;
    border-top: 2px solid #85a8c5;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 14px;
}
